useDynLib(multinomialLogitMix, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(coda)
import(doParallel)
import(foreach)
import(ggplot2)
import(matrixStats)
import(label.switching)
import(MASS)
import(mvtnorm)
import(RColorBrewer)
importFrom("grDevices", "topo.colors", "dev.new", "dev.off")
importFrom("graphics", "abline", "layout", "legend", "matplot", "points", "par", "rect", "text", "axis", "box", "plot", "title")
importFrom("stats", "cov2cor", "rbinom", "dbinom", "dpois", "ppois", "rbeta", "rgamma", "runif", "quantile", "rnorm", "var", "sd", "median", "qnorm", "dnorm","rmultinom", "rnbinom")
importFrom("utils", "tail")

